@{
    ViewData["Title"] = "About";
}

<p style="text-align: left;"><a asp-area="" asp-controller="Home" asp-action="Index" >Back</a></p>

<br><br><br>

<h1>@ViewData["Title"]</h1>

<p>Made by ReynDev</p>

<br><br><br>
